.ImgUpload {
    margin-right: 10px; /*result 컴포넌트에도 동일하게 수정*/
}

.upload{
    /* margin: 20px; */
    border: 2px solid #87ceeb;
    border-radius: 10px;
    text-align: center;
}

.upload-g{
    margin: 20px;
}

.upload-g>p{
    font-weight: bold;
}

.upload-g>form>input{
    border:1px solid skyblue;
    border-radius: 12px;
    padding:10px;
}

.upload-g>form>button{
    border:1px solid skyblue;
    border-radius: 12px;
    padding: 10px;
    margin-left: 5px;
    background-color: skyblue;
    color: white;
    font-weight: bold;
    padding: 13px;
}

.preview{
    margin-top: 40px;
    border: 2px solid #87ceeb;
    border-radius: 10px;
}

.preview-img{
    border: 1px solid skyblue;
    border-radius: 10px;
    height: 550px;
    width: 420px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}